<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img class="img-border" width="500" alt="Not Angular logo" src="https://cdn-images-1.medium.com/max/1600/1*fJQHwsaeYndhaeHLz_--Pw.jpeg">
</div>
<h2>Boa noite: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.facebook.com/petinformatica/">Página top</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/luanbrito7/software-engineering_exercise">Recursão</a></h2>
  </li>
</ul>
<table>
  <tr>
     <td><label>Nome </label></td>
     <td><input [(ngModel)]="pessoa.nome" ></td>
     <td><button (click)="gravar(pessoa)">Adicionar</button></td>
  </tr>
  <tr>
     <td><label>CPF </label></td>
     <td><input [(ngModel)]="pessoa.cpf" ></td>
  </tr>
  <tr>
     <td><label>e-mail </label></td>
     <td><input [(ngModel)]="pessoa.email" ></td>
  </tr>
  </table>
  
  <ul>
  <li *ngFor="let a of pessoas">
      <span>{{a.nome}}</span>,
      <span>{{a.cpf}}</span>,
      <span>{{a.email}}</span>
  </li>
  </ul>

